<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Cadastro do Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup] = 'formCliente' (submit)='add()'>

<ion-item> 
 <label fixed>Nome:</label>
 <ion-input type="text" name="nome" formControlName="nome" placeholder="Digite o Nome"></ion-input> 
</ion-item>
<ion-item> 
    <label fixed>Email:</label>
    <ion-input type="text" name="email" formControlName="email" placeholder="Digite o Email" min="2" maxlenght="100"></ion-input> 
   </ion-item>
<ion-item>
   <label fixed>Endereço:</label>
   <ion-input type="text" name="endereco" formControlName="endereco" placeholder="Digite o Endereço" min="2" maxlenght="100"></ion-input> 
  </ion-item>
<ion-item>
  <label fixed>Senha:</label>
    <ion-input type="password" name="senha" formControlName="senha" placeholder="Digite a senha" min="2" maxlenght="100"></ion-input> 
   </ion-item>

<ion-button type='submit' expand="block" color="primary">Cadastrar</ion-button>
<ion-button color="primary" expand="block" (click)="resetar()">Apagar</ion-button>


  


</form>


</ion-content>
