<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title color="primary">Lista de Profissionais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item  *ngFor="let p of profissional">
  <ion-thumbnail slot="start">
    <img src="https://img.ibxk.com.br/2017/06/22/22100428046161.jpg">
  </ion-thumbnail>
  <ion-label>
    <h1>{{p.nome}}</h1>
    <h3>Email:{{p.email}} </h3>
    <h3>Endereço: {{p.endereco}}</h3>
    <h4>TipoServico: {{p.tipoServico}}</h4>
  </ion-label>
<ion-button expand="block" color="primary" (click)="deleteProfissional(p.id)">Deletar</ion-button>
</ion-item>

</ion-content>