<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title color="primary">Lista de Profissionais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item  *ngFor="let p of profissional">
  <ion-thumbnail slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-thumbnail>
  <ion-label>
    <h1>{{p.nome}}</h1>
    <h3>Email:{{p.email}} </h3>
    <h3>Endereço: {{p.endereco}}</h3>
    <h4>Senha: {{p.senha}}</h4>
    <h4>TipoServico: {{p.tipoServico}}</h4>
  </ion-label>
</ion-item>
  
</ion-content>